.container{
    background-color:#c2c1c1 ;
    width: 100%;
    display: flex;
    justify-content: center;  /* centro orizzontale */
    align-items: center; 
    /*align-items: flex-start;   
    gap: 20px;                
    justify-content: center; 
    margin-top: 3%; */
}
.section{
    background-color:#e9e9e9 ;
    border: 1px solid #c2c1c1;
    border-radius: 25px;
    width: 400px;
    height: 700px;
    margin: auto;
    /*margin-top: 20px;*/
    /*padding: 20px;*/
    
}
.camp {
    border: 1px solid #a9a9a9;
    border-radius:10px;
    width: 120px;
    height: 20px;
    margin: auto;
}

#text{
    font-size: 9pt;
    margin: auto; 
}

#title{
    font-size: 26pt;
    font-family: sans-serif;
    margin-top: min(26%, 15px);
    text-align: center;
    color: #9d9d9d;
}

.logo{
    position: fixed;   /* usa absolute se NON vuoi che resti fisso allo scroll */
    top: 12px;
    left: 12px;
    z-index: 10;
    width: 80px;   /* pick what you want */
    height: auto;
  /*display: block;*/
}

.signupButton:active{
    transform: scale(0.96);
    
}
