.container{
    background-color:#dcdcdc ;
    width: 100%;
}
.section{
    background-color:#f5f5f5 ;
    border: 1px solid #080808;
    border-radius: 5%;
    width: 30%;
    height: 70%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    margin: auto;
    margin-top: 3%;
    
}
#nick, #pass{
    border: 1px solid #a9a9a9;
    border-radius:10px;
    width: 40%;
    height: 6%;
    margin: auto;
}
.loginButton{
    background: linear-gradient(to right, #90fafe9c 10%, #9a2fff94 100%);
    text-align: center;
    border-radius: 9999px;
    width: 40%;
    height: 6%;
    margin: auto;
    box-shadow: 1px 2px 5px #00000047;
    

}
#text{
    font-size: 9pt;
    margin: auto; 
}
#dis1{
    height: 1%;
}